<table class="table table-hover text-nowrap">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>

            <th>Action</th>

        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {


            <tr>
                <td>@item.Id</td>
                <td>@item.Name </td>
                <td>
                    <a href="#" class="btn btn-outline-info ">Details </a>
                    <a href="/Admin/Categories/Edit/@item.Id" class="btn btn-outline-warning ">Edit </a>
                    <a href="/Admin/Categories/Delete/@item.Id" class="btn btn-outline-danger ">Delete </a>


                </td>
            </tr>
        }



    </tbody>
</table>